@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <p style="font-size:xx-large;">
        Secret Password1: <b>@ViewBag.Password1</b>
    </p>
    <p style="font-size:xx-large;">
        Secret Password2: <b>@ViewBag.Password2</b>
    </p>
    <p style="font-size:xx-large;">
        Secret Color (From managed identity): <b>@ViewBag.secretColour</b>
    </p>
</div>